/* Fondo del encabezado */
ion-header {
    background-color: #042e54; 
    color: rgb(255, 255, 255); 
  }
  
 ion-title {
  background-color: #042e54;
  color: #f5f6f7;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;

}

  /* Estilo del formulario */
  ion-item {
    margin-bottom: 16px; /* Añade espacio entre los elementos */
  }
  
  /* Botón de ingreso */
  ion-button {
    background-color: #0074b3; 
    color: white; 
    font-weight: bold; 
    border-radius: 8px; 
  }

 /* Contenedor del formulario */
.contenedor {
  display: flex;
  flex-direction: column; 
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 80vh; /* Utiliza el 100% de la altura de la ventana */
}

.logo {
  text-align: center; /* Centra horizontalmente */
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Estilo de la imagen del logotipo */
.logo img {
  max-width: 60%; 
}

/* Estilo del formulario dentro del contenedor */
.form {
  background-color: white; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #0074b3; /* Contorno azul */
  max-width: 400px; /* Ancho máximo del formulario */  
}

/* Espaciador */
.spacer {
  height: 2px; /* Ajusta la altura del espaciador según tu preferencia */
}

ion-button:hover {
  background-color: #ff9900; /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.05); /* Cambia el tamaño al pasar el cursor (más sutil) */
  transition: transform 0.3s ease-in-out; /* Ajusta la duración y el tipo de transición */
}


.error-message {
  color: red; // Establece el color de fuente en rojo
  transition: opacity 1s; // Agrega una transición de 1 segundo para la propiedad de opacidad
  opacity: 1; // Establece la opacidad inicial en 1
}

.error-message.hidden {
  opacity: 0; // Establece la opacidad en 0 cuando se oculta
}