<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="logo">
      <img src="assets/img/auto.png" alt="Auto" />
    </div>

    <div class="form">
      <ion-item>
        <ion-label expand="full" class="custom-label" position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="username" data-cy="username-input" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" data-cy="password-input" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="login()">Ingresar</ion-button>

      <ion-button expand="full" class="small-button" (click)="limpiarCampos()">Limpiar Campos</ion-button>

      <div class="spacer"></div>

      <a routerLink="/recuperar">Recuperar cuenta</a>

      <div class="spacer"></div>
    </div>

    <div *ngIf="errorMessage" [ngClass]="{'error-message': true, 'hidden': !errorMessageVisible}">
      {{ errorMessage }}
    </div>
  </div>
</ion-content>
