/* Encabezado con menú */
.example-spacer {
  flex: 1 1 auto;
}

.username-text {
  font-size: 20px;
}

.mat-toolbar {
  background-color: #042e54; 
  color: #ffffff; 
  font-family: fantasy;
  font-size: 24px; 
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;
}

ion-title {
  background-color: #042e54;
  color: #f5f6f7;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;

}

/* Estilo del formulario */
ion-item {
  margin-bottom: 16px; /* Añade espacio entre los elementos */
}


/* Botón de búsqueda */
ion-button {
  background-color: #0074b3; 
  color: white; 
  font-weight: bold; 
  border-radius: 8px; 
}



/* Contenedor del formulario */
.contenedor {
display: flex;
flex-direction: column; 
justify-content: center; /* Centrar horizontalmente */
align-items: center; /* Centrar verticalmente */
height: 90vh; /* Utiliza el 100% de la altura de la ventana */
margin-top: 50px;
}

.auto {
text-align: center; /* Centra horizontalmente */
margin-top: 30px;
margin-bottom: 10px;
}

/* Estilo de la imagen del logotipo */
.auto img {
max-width: 60%; 
}

/* Estilo del formulario dentro del contenedor */
.form {
background-color: white; /* Fondo blanco */
padding: 20px;
border-radius: 8px;
border: 2px solid #0074b3; /* Contorno azul */
max-width: 400px; /* Ancho máximo del formulario */
}

/* Espaciador */
.spacer {
height: 20px; /* Ajusta la altura del espaciador según tu preferencia */
}

ion-button:hover {
  background-color: #ff9900; 
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out; 
}


/* TABLA LISTA CHOFERES*/

.responsive-table {
  overflow-x: auto;
}


/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Borde de la tabla */
}

/* Estilos para las filas */
tr {
  background-color: #f2f2f2; /* Fondo de las filas alternas */
}

/* Estilos para las celdas */
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd; /* Borde inferior en las celdas */
}

/* Estilo para el encabezado de la tabla */
th {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}


@media (max-width: 768px) {
  table {
    font-size: 12px; /* Cambiar el tamaño de fuente para pantallas más pequeñas */
  }
}


/* Estilos para los botones de acción */
ion-button {
  display: block;
  margin: 5px 0;
}


/* Espaciador */
.spacer {
  height: 12px;
}

/* Mensajes de error en validación */
.error-message {
  color: red;
  transition: opacity 1s; 
  opacity: 1; 
}

.error-message.hidden {
  opacity: 0;
}